html {
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
}

@media only screen and (max-width: 900px) {
    #particles-js {
      display: none;
    }
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
    color: white;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    box-sizing: border-box;   
}


#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.header {
    display: block;
    text-align: center;
    margin-top: 20vh;
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 8vmax;
    text-align: center;
    line-height: 8vmax;
}

.red {
    color: #831111;
}

.desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5vmax;
    text-align: center;
    color: #AAA;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #831111;
    width: 15%;
    text-align: center;
    border-radius: 2vmax;
    margin-top: 2vmax;
}

.button :hover {
    background-color: #a71717;
    border-radius: 2vmax;
}

.button p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vmax;
    padding: 0.8vmax 0;
}

.footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vmax;
    text-align: center;
    bottom: 0.3vmax;
    right: 0.3vmax;
    position: absolute;
}

:any-link {
    text-decoration: none;
}

/* READMORE.HTML */


.logo {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
}

.menus {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-top: 1rem;
}

.menu {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem 0.5rem;
    text-align: right;
    border-radius: .5rem;
}

a :hover {
    text-shadow: 1px 1px black;
}

:any-link {
    text-decoration: none;
    color:white ;
}

.menu:hover {
    border-radius: .5rem;
    color: #a71717;
}

.active {
    color: #a71717;
    font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
    .logo {
      display: none;
    }
    .menus {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    .logo {
      display: none;
    }
    .menus {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.about {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#about1 {
    margin-bottom: 5rem;
}

.text2 {
    padding-top: 2rem;
}

.text1 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.about-img {
    width: 80%;
}

.footer-main {
    text-align: center;
    padding-top: 3rem;
}

#projects {
    margin-top: 10rem;
}

.card {
    border: 1px #000 solid;
    background-color: #131313;
    color: white;
    margin-bottom: 1rem;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}

.card h4 {
    font-weight: 900;
}

.link-projects:hover {
    color: #831111;
}

#contact {
    margin-top: 10rem;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1rem;   
}

.mail:hover {
    color: #831111;
}

.logo1 {
    width: 50%;
}

.email {
    padding-top: 2rem;
}

